{% set groups = h.get_featured_groups(4) %}
{% set featured_packages = h.get_featured_packages() %}

<div class="row">
  <div class="col-12 text-center">
    <h1>{{ _('Grupos de datos') }}</h1>
  </div>
</div>

<div>
  <div class="row feed_group justify-around">
    {% for group in groups %}
      {% snippet "home/snippets/group_item.html", item=group, position=False %}
    {% endfor %}
  </div>
  <div class="col-12 text-center mb-[120px]">
    <a
      href="{% url_for 'group.index' %}"
      class="dark-link feed_group_link"
    >
      {{ _('Ver todos los grupos') }}
    </a>
  </div>
</div>

{% if featured_packages %}
<div class="row">
  <div class="col-12 text-center">
    <h1>{{ _('Nuevo conjunto de datos') }}</h1>
  </div>
</div>

<div>
  <div class="row feed_group">
    {% for package in featured_packages %}
      {% snippet "home/snippets/package_item.html", item=package, position=False %}
    {% endfor %}
  </div>
  <div class="col-12 text-center mb-[120px]">
    <a
      href="{% url_for 'dataset.search', sort='views_recent desc'%}"
      class="dark-link feed_group_link"
    >
      {{ _('Ver todos los conjuntos de datos') }}
    </a>
  </div>
</div>
{% endif %}