<div class="floating-banner shadow">
  <div class="row">
    <div class="col-12 col-md-4">
      <img src="/img/icons/explora.png" alt="">
      <div>
        <h2>{{ _('Explora') }}</h2>
        <p>{{ _('Los diferentes conjuntos de datos en formatos accesibles para la ciudadanía')}}</p>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <img src="/img/icons/descarga.png" alt="">
      <div>
        <h2>{{ _('Descarga') }}</h2>
        <p>{{ _('Los datos y accede a información pública para su análisis')}}</p>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <img src="/img/icons/reutiliza.png" alt="">
      <div>
        <h2>{{ _('Reutiliza') }}</h2>
        <p>{{ _('Los datos para crear visualizaciones ya aplicaciones que generen soluciones innovadoras') }}</p>
      </div>
    </div>
  </div>
</div>