{% set type = item.type or 'group' %}
{% set url = h.url_for(type ~ '.read', id=item.name) %}


{% set image = h.get_extra_value(item.extras, 'image') %}
{% set image_url = h.url_for_static(image) if image else None %}

<a href="{{ url }}" class="col-12 col-md-5">
  <div class="home-group-item group-type shadow d-flex">
    <div class="img">
      <img src="{{ item.image_display_url or image or h.url_for_static('/img/icons/placeholder-item.png') }}" alt="{{ item.name }}" class="media-image img-fluid">
    </div>
    <div class="text">
      <h3>{{ item.display_name or item.title }}</h3>
    </div>
  </div>
</a>

<div class="separator"></div>