<div class="cintillo">
    <div class="container">
        <div class="row align-items-center justify-cennter">
            <div class="col-12 col-md-2">
                <img src="/img/cintillo/01_COOPERACION ALEMANA.png" alt="COOPERACION ALEMANA">
            </div>
            <div class="col-12 col-md-2">
                <p>Implementado por:</p>
                <img src="/img/cintillo/02_GIZ.png" alt="GIZ">
            </div>
            <div class="col-12 col-md-2">
                <img src="/img/cintillo/03_RC.png" alt="RC">
            </div>
            <div class="col-12 col-md-2">
                <p>En coordinación:</p>
                <img src="/img/cintillo/04_COSEFIN.png" alt="COSEFIN">
            </div>
            <div class="col-12 col-md-2">
                <img src="/img/cintillo/05_SICA.png" alt="SICA">
            </div>
            <div class="col-12 col-md-2">
                <img src="/img/cintillo/06_MINFIN.png" alt="MINFIN">
            </div>
        </div>
    </div>
</div>

<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
    <div class="row">

        <div class="col-12 col-md-4 minfin-logo">
            <img src="/img/logos/ckan-logo.png" alt="MINFIN">
            <div class="contact-info">
                <a href="https://x.com/MinFinGT" target="_blank">
                    <img src="/img/icons/x.png" alt="x">
                </a>
                <a href="https://www.facebook.com/MinfinGT/" target="_blank">
                    <img src="/img/icons/facebook.png" alt="facebook">
                </a>
                <a href="https://www.instagram.com/minfingt/" target="_blank">
                    <img src="/img/icons/instagram.png" alt="instagram">
                </a>
                <a href="https://www.youtube.com/c/MinfinGT-DCS" target="_blank">
                    <img src="/img/icons/youtube.png" alt="youtube">
                </a>
            </div>
        </div>

        <div class="col-12 col-md-5 contacto">
            <h4>Contacto</h4>
            <div>
                <p>Ministerio de Finanzas Públicas 8a Avenida 20-59 Zona 1, Centro Cívico, Guatemala-01001</p>
                <p>PBX: +502 2374-3000</p>
                <p>
                    <a target="_blank" href="https://www.minfin.gob.gt/">https://www.minfin.gob.gt/</a>
                </p>
            </div>
        </div>

        <div class="col-12 col-md-3">
            <h4>Enlace de interés</h4>
            <div>
                <p>
                    <a target="_blank" href="/pages/mapa-sitio">Mapa del sitio</a>
                </p>
                <p>
                    <a target="_blank" href="/pages/documentos">Documentos</a>
                </p>
                <p>
                    <a target="_blank" href="/pages/preguntas">Preguntas frecuentes</a>
                </p>
                <p>
                    <a target="_blank" href="https://transparenciapresupuestaria.minfin.gob.gt/">Portal de Transparencia Presupuestaria</a>
                </p>
                <p>
                    <a target="_blank" href="https://ocds.guatecompras.gt/">Portal OCSD Guatecompras</a>
                </p>
            </div>
        </div>

    </div>
    {% endblock %}
  </div>
</footer>

<div class="feedback">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 text" id="feedback">
                <p>¿Está página es de utilidad para ti?</p>
                <button class="shadow-sm" href="#" onclick="sendIsPageHelpful(true)">Si</button>
                <button class="shadow-sm" href="#" onclick="sendIsPageHelpful(false)">No</button>
                <p class="message"></p>
            </div>
            <div class="col-12 col-md-4 button">
                <a href="/pages/reporta-un-problema" class="shadow-sm">
                    <img src="/img/icons/warning.png" alt="">
                    Reporta un problema
                </a>
            </div>
        </div>
    </div>
</div>

<footer class="red-footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-8 red-info">
                <a href="https://redciudadana.org/" target="_blank">
                    <img src="/img/logos/red-ciudadana-logo.png" alt="Red Ciudadana" class="logo-red">
                </a>
                <p>{{ _('Con la asistencia técnica de la Asociación Civil Red Ciudadana') }}</p>
            </div>
            <div class="col-12 col-md-4">
                <div class="oss">
                    <img src="/img/icons/03_FT.png" alt="">
                    <img src="/img/icons/01_FT.png" alt="">
                    <img src="/img/icons/02_FT.png" alt="">
                </div>
                <p class="licence">Salvo que se indique lo contrario el contenido de este sitio está bajo una licencia <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a></p>
            </div>
        </div>
    </div>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109833954-1"></script>
<script>
    window.dataLayer = window.dataLayer || []; 
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-109833954-1');
</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-TRPFTV3');</script>
<!-- End Google Tag Manager -->
 <script>
    function sendIsPageHelpful(isHelpful) {
        const buttons = Array.from(document.querySelectorAll('#feedback button'));

        buttons.forEach((button) => button.style.display = 'none');

        const message = document.querySelector('#feedback .message');
        message.innerHTML = 'Gracias por tus comentarios!';

        gtag('event', 'is_page_helpful', {
            'event_name': 'is_page_helpful',
            'event_page_url': window.location.href,
            'event_value': isHelpful,
            'value': isHelpful,
        });
    };
 </script>
<!-- Google Tag Manager (noscript) -->
 <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TRPFTV3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

