<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
    <div class="row">

        <div class="col-12 col-md-4 minfin-logo">
            <img src="/img/logos/minfin-logo-2.png" alt="MINFIN">
            <div class="contact-info">
                <a href="https://x.com/minfingt" target="_blank">
                    <img src="/img/icons/x.png" alt="x">
                </a>
                <a href="https://www.facebook.com/minfingtambiente/" target="_blank">
                    <img src="/img/icons/facebook.png" alt="facebook">
                </a>
                <a href="https://www.instagram.com/minfingt/" target="_blank">
                    <img src="/img/icons/instagram.png" alt="instagram">
                </a>
                <a href="https://www.youtube.com/channel/UCVu-p8rfULed3NYHG2He_yw" target="_blank">
                    <img src="/img/icons/youtube.png" alt="youtube">
                </a>
            </div>
        </div>

        <div class="col-12 col-md-5 contacto">
            <h4>Contacto</h4>
            <div>
                <p>Ministerio de Finanzas Públicas 8a Avenida 20-59 Zona 1, Centro Cívico, Guatemala-01001</p>
                <p>PBX: +502 2374-3000</p>
                <p>
                    <a target="_blank" href="https://www.minfin.gob.gt/">https://www.minfin.gob.gt/</a>
                </p>
            </div>
        </div>

        <div class="col-12 col-md-3">
            <h4>Enlace de interés</h4>
            <div>
                <p>
                    <a target="_blank" href="/pages/mapa-sitio">Mapa del sitio</a>
                </p>
                <p>
                    <a target="_blank" href="/pages/documentos">Documentos</a>
                </p>
                <p>
                    <a target="_blank" href="/pages/preguntas">Preguntas frecuentes</a>
                </p>
            </div>
        </div>

    </div>
    {% endblock %}
  </div>
</footer>

<footer class="red-footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-10 red-info">
                <a href="https://redciudadana.org/" target="_blank">
                    <img src="/img/logos/red-ciudadana-logo.png" alt="Red Ciudadana" class="logo-red">
                </a>
                <p>{{ _('Implementado con la asistencia técnica de Asociación Civil Red Ciudadana') }}</p>
            </div>
            <div class="col-12 col-md-2">
                <img src="/img/icons/oss.png" alt="Open Source Software" width="180px">
            </div>
        </div>
    </div>
</footer>