<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
    <div class="row">

        <div class="col-12 col-md-4 minfin-logo">
            <img src="/img/logos/ckan-logo.png" alt="MINFIN">
            <div class="contact-info">
                <a href="https://x.com/MinFinGT" target="_blank">
                    <img src="/img/icons/x.png" alt="x">
                </a>
                <a href="https://www.facebook.com/MinfinGT/" target="_blank">
                    <img src="/img/icons/facebook.png" alt="facebook">
                </a>
                <a href="https://www.instagram.com/minfingt/" target="_blank">
                    <img src="/img/icons/instagram.png" alt="instagram">
                </a>
                <a href="https://www.youtube.com/c/MinfinGT-DCS" target="_blank">
                    <img src="/img/icons/youtube.png" alt="youtube">
                </a>
            </div>
        </div>

        <div class="col-12 col-md-5 contacto">
            <h4>Contacto</h4>
            <div>
                <p>Ministerio de Finanzas Públicas 8a Avenida 20-59 Zona 1, Centro Cívico, Guatemala-01001</p>
                <p>PBX: +502 2374-3000</p>
                <p>
                    <a target="_blank" href="https://www.minfin.gob.gt/">https://www.minfin.gob.gt/</a>
                </p>
            </div>
        </div>

        <div class="col-12 col-md-3">
            <h4>Enlace de interés</h4>
            <div>
                <p>
                    <a target="_blank" href="/pages/mapa-sitio">Mapa del sitio</a>
                </p>
                <p>
                    <a target="_blank" href="/pages/documentos">Documentos</a>
                </p>
                <p>
                    <a target="_blank" href="/pages/preguntas">Preguntas frecuentes</a>
                </p>
            </div>
        </div>

    </div>
    {% endblock %}
  </div>
</footer>

<div class="feedback">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 text">
                <p>¿Está página es de utilidad para ti?</p>
                <a class="shadow-sm" href="#">Si</a>
                <a class="shadow-sm" href="#">No</a>
            </div>
            <div class="col-12 col-md-4 button">
                <a href="#" class="shadow-sm">
                    <img src="/img/icons/warning.png" alt="">
                    Reporta un problema
                </a>
            </div>
        </div>
    </div>
</div>

<footer class="red-footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-8 red-info">
                <a href="https://redciudadana.org/" target="_blank">
                    <img src="/img/logos/red-ciudadana-logo.png" alt="Red Ciudadana" class="logo-red">
                </a>
                <p>{{ _('Implementado por Asociación Civil Red Ciudadana') }}</p>
            </div>
            <div class="col-12 col-md-4">
                <div class="oss">
                    <img src="/img/icons/03_FT.png" alt="">
                    <img src="/img/icons/01_FT.png" alt="">
                    <img src="/img/icons/02_FT.png" alt="">
                </div>
                <p class="licence">Salvo que se indique lo contrario el contenido de este sitio está bajo una licencia <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a></p>
            </div>
        </div>
    </div>
</footer>