{% extends "page.html" %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}
{% block toolbar %}{% endblock %}

{% set theme_paremeters = h.get_theme_parameters() %}

{% macro render_page_item(url, img, title, description) %}
  <a class="col-12 col-md-4" href="{{url}}">
    <img src="{{img}}" alt="">
    <div class="text text-justify">
      <h3>{{title}}</h3>
      <p>{{description}}</p>
    </div>
  </a>
{% endmacro %}

{% block content %}
<div class="homepage">
  <div id="content" class="container">
    {{ self.flash() }}
  </div>
  {% block primary_content %}
  <div role="main">
    <div class="main hero">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            {% block search %}
              {% snippet 'home/snippets/search.html', search_facets=search_facets %}
            {% endblock %}
          </div>
        </div>
        {# {% snippet 'home/snippets/floating_banner.html' %} #}
      </div>
    </div>

    <div class="main module-feeds" id="categoria-datos">
      <div class="container">
        <div class="row">
          <div class="col-12">
            {% block featured_group %}
              {% snippet 'home/snippets/featured_group.html' %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>

    <div class="main popular-feeds">
      <div class="container">
        <div class="row">
          <div class="col-12">
            {% snippet 'home/snippets/popular_packages.html' %}
          </div>
        </div>
      </div>
    </div>

    <div class="interactua">
      <div class="container">
        <div class="row mb-6">
          <div class="col-12 text-center">
            <h1 class="title">{{ _('Interactúa') }}</h1>
          </div>
        </div>

        <div class="row">
          {{ render_page_item(
            "/pages/historias",
            "/img/interactua/interactua-2.png",
            "Historias de usuarios",
            "Conoce cómo diferentes personas o grupos han utilizado los datos abiertos para resolver problemas o impulsar proyectos."
          )}}
          <div class="separator"></div>
          {{ render_page_item(
            "/pages/videos",
            "/img/interactua/interactua-3.png",
            "Videoteca",
            "Encuentra los recursos visuales que te guiarán paso a paso para utilizar los datos abiertos."
          )}}
          <div class="separator"></div>
          {{ render_page_item(
            "/pages/eventos",
            "/img/interactua/interactua-4.png",
            "Comité de usuarios",
            "Participa en este espacio de diálogo para compartir tus sugerencias, comentarios y retroalimentación sobre la calidad y utilidad de los datos disponibles. También puedes proponer nuevas ideas y solicitar apertura de más datos."
          )}}
        </div>

        <div class="row">
          {{ render_page_item(
            "/pages/estadisticas",
            "/img/interactua/interactua-5.png",
            "Estadísticas",
            "Consulta la analítica del portal, como los conjuntos de datos más descargados, el número de visitas y otros aspectos relevantes."
          )}}
          <div class="separator"></div>
          {{ render_page_item(
            "/pages/infografias",
            "/img/interactua/interactua-6.png",
            "Infografías",
            "Conoce de manera amigable y accesible temas claves relacionados con los datos abiertos."
          )}}
          <div class="separator"></div>
          {{ render_page_item(
            "/pages/politica-de-publicacion",
            "/img/interactua/interactua-1.png",
            "Política de publicación",
            "Infórmate sobre el alcance y los formatos de los conjuntos de datos, así como el propósito de su publicación y otros aspectos."
          )}}
        </div>
      </div>
    </div>

    <div class="portal">
      <div class="container">
        <div class="row justify-center">
          <div class="col-12 col-md-6">
            <img src="/img/portal.png" alt="">
            <p>Conoce el uso de los <strong>recursos públicos</strong> a través de <strong>herramientas interactivas</strong>.</p>
            <a class="shadow-sm" href="https://datos.minfin.gob.gt/pages/herramientas-interactivas" target="_blank">Acceder</a>
          </div>
          {% if theme_paremeters['minfin_theme_feedback_embed']%}
            <div class="col-md-6">
              <embed src="{{theme_paremeters['minfin_theme_feedback_embed']}}" type="text/html">
            </div>
          {% endif %}
        </div>
      </div>
    </div>

  </div>
  {% endblock %}
</div>
{% endblock %}